# local / dev - API server starts in DEV mode (not optimized).
# prod - API server starts in PRO mode (optimized).
ENV=prod

# 1 - Enables debugging (basically print or generate more verbose logs).
# 0 - Disables debugging (print or generate necessary logs only).
DEBUG=0

# DB name (DO NOT CHANGE)
DB_NAME=gringottss.db

# Version
VERSION=2.0.0