# local / dev - API server starts in DEV mode (not optimized).
# prod - API server starts in PRO mode (optimized).
ENV=prod

# 1 - Enables debugging (basically print or generate more verbose logs).
# 0 - Disables debugging (print or generate necessary logs only).
DEBUG=0

# ==== Encryption related ===== #
# Encryption Key to encrypt plain text password before storing
# into DB (change this and keep something strong).
PWD_ENCRYPTION_KEY=Gringotts-Vault-Dragon-Guarded!!